:root {
  --clr-purple: hsl(259, 100%, 65%);
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-off-white: hsl(0, 0%, 94%);
  --clr-light-grey: hsl(0, 0%, 86%);
  --clr-smokey-grey: hsl(0, 1%, 44%);
  --clr-off-black: hsl(0, 0%, 8%);

  --clr-hsl-purple: 259, 100%, 65%;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extrabold: 800;

  --fs-100: 0.7rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.2rem;
  --fs-600: 2rem;
  --fs-700: 3rem;
  --fs-800: 6.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  background: var(--clr-off-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 107vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--clr-white);
  padding: 3.5rem;
  max-width: 52.5rem;
  border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.input-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

label {
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  line-height: 1.4rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--clr-smokey-grey);
}

input {
  outline: transparent;
  width: 10rem;
  height: 4.5rem;
  border: 1px solid var(--clr-light-grey);
  padding: 0.75rem 0 0.75rem 1.5rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
}

input::placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-600);
}

input[type="number"] {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  line-height: 3rem;
  letter-spacing: 0.01rem;
  color: var(--clr-off-black);
}

input[type="number"]:hover {
  border: 1px solid var(--clr-purple);
  outline: transparent;
  cursor: pointer;
}

small {
  color: var(--clr-light-red);
}

.button-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45.5rem;
  height: 6rem;
}

hr {
  width: 100%;
  opacity: 50%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-purple);
  border-radius: 50%;
  width: 6rem;
  aspect-ratio: 1 / 1;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: var(--clr-off-black);
  box-shadow: -1px 1px 25px 12px hsl(var(--clr-hsl-purple), 0.5);
  -webkit-box-shadow: -1px 1px 25px 12px hsl(var(--clr-hsl-purple), 0.5);
  -moz-box-shadow: -1px 1px 25px 12px hsl(var(--clr-hsl-purple), 0.5);
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  font-style: italic;
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-800);
  line-height: 7rem;
  letter-spacing: -0.02rem;
  color: var(--clr-off-black);
}

h1 span {
  color: var(--clr-purple);
  letter-spacing: 0.5rem;
}

.animatedResults {
  animation-name: yourage;
  -webkit-animation-name: yourage;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes yourage {
  from {
    -webkit-transform: rotate(0deg) scale(0) skew(0deg) translate(100px);
  }
  to {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0);
  }
}

@-webkit-keyframes yourage {
  from {
    -webkit-transform: rotate(0deg) scale(0) skew(0deg) translate(100px);
  }
  to {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0);
  }
}

@media screen and (max-width: 860px) {
  main {
    max-width: 40rem;
  }

  .button-block {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 2rem;
    margin: 2rem 0 1rem 0;
  }
}

@media screen and (max-width: 660px) {
  main {
    padding: 3rem 1.5rem;
    gap: 2rem;
    max-width: 30rem;
    border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
    position: relative;
  }

  input {
    width: 5rem;
    height: 3rem;
    padding: 0.75rem 1rem;
  }

  input[type="number"] {
    font-size: var(--fs-400);
  }

  input::placeholder {
    font-weight: var(--fw-bold);
    font-size: var(--fs-300);
    letter-spacing: 0.01rem;
  }

  button {
    position: absolute;
    padding: 0;
    width: 3.5rem;
  }

  button img {
    width: 50%;
  }

  h1 {
    font-size: var(--fs-700);
    line-height: 3rem;
  }
}

@media screen and (max-width: 400px) {
  main {
    max-width: 22rem;
  }
}
