:root { 
  --clr-neutral-100: 217 19% 35%;
  --cyan: 42, 178, 175;
  --grayish-blue: rgb(152, 166, 189);
  --bright-yellow: rgb(192, 223, 52);
  --white: 255, 250, 250;
  --bg-clr: rgb(229, 239, 245);

  --ff-primary: "Karla", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1rem;
  --fs-600: 1.3rem;
  --fs-700: 1.6rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: var(--ff-primary);
    background-color: var(--bg-clr);
}

main {
    display: grid;

    width: min(95%, 35rem);
    margin: 4rem;
    margin-inline: auto;
    border-radius: 0.5rem;
    box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
    z-index: 10;
}

.testimonial {
    font-size: var(--fs-400);
    padding: 2rem 1.5rem;
}

.bg-neutral {
    background-color: rgb(var(--white));
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem 2.5rem;
}

.bg-primary {
    background-color: rgba(var(--cyan), 1);
    color: rgba(var(--white), 1);
    padding: 1.5rem 2.5rem;
}

.bg-secondary {
    background-color: rgba(var(--cyan), 0.8);
    border-radius: 0 0 0.5rem 0.5rem;
    color: rgba(var(--white), 0.7);
    padding: 1.5rem 2.5rem;
}

h2 {
    font-size: var(--fs-500);
}

.bg-neutral h1 {
    color: rgb(var(--cyan));
    font-weight: var(--fw-700);
    font-size: var(--fs-600);
}

.bg-neutral h2 {
    color: var(--bright-yellow);
}

.bg-neutral p {
    color: var(--grayish-blue);
    line-height: 1.5;
}

.dollar {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
    margin-right: 0.7rem;
    color: rgba(var(--white), 1);
}

.per-month {
    opacity: 60%;
}

.bg-primary p {
    margin-top: 0.5rem;
}

.bg-secondary h2 {
    color: rgba(var(--white), 1);
}

ul {
    padding-left: 0;
    list-style: none;
}

button {
    cursor: pointer;
    background-color: var(--bright-yellow);
    border: none;
    color: rgba(var(--white), 1);
    font-weight: var(--fw-700);
    font-size: var(--fs-400);
    padding: 0.7rem 4.5rem;
    margin-top: 0.6rem;
    border-radius: 0.3rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.profile {
  display: block;
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.content {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.hide {
  display: none;
  width: auto;
  padding: 0.5em;
  border-radius: 1.2em;
  font-family: Outfit;
  transition: all 1s ease-out;
  background: #fff;
}

.hide a {
  text-decoration: none;
  color: #24538a;
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; /* For modern browsers */
}

.hide a:hover {
  text-decoration: none;
  color: #52ffa8;
}

.content:hover .hide {
  display: block;
}

@media (min-width: 50em) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .bg-primary {
    border-radius: 0 0 0 0.5rem;
  }

  .bg-secondary { 
    border-radius: 0 0 0.5rem 0;
  }
}