@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #d6e2f0;
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.qr-code-box {
  background: white;
  padding: 1rem;
  border-radius: 5%;
  max-width: 20rem;
  height: auto;
}

.qr-code-box img {
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: 5%;
}

h1 {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  color: #1f3251;
  margin: 1rem;
}

p {
  font-size: 1rem; 
  font-weight: 400;
  text-align: center;
  color: #7b879d;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.content {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profile {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.hide {
  display: none;
  width: auto;
  padding: 10px;
  border-radius: 20px;
  font-family: Outfit;
  transition: all 1s ease-out;
  background: #fff;
  font-size: 12px;
}

.hide a {
  text-decoration: none;
  color: #24538a;
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 1s; /* For modern browsers */
}

.hide a:hover {
  text-decoration: none;
  color: #5ae2c0;
}

.content:hover .hide {
  display: block;
}
