:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  --hsl-neon-green: 150, 100%, 66%;

  --fw-extrabold: 800;

  --fs-400: 0.8rem;
  --fs-500: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 96vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--dark-grayish-blue);
  color: var(--light-cyan);
  max-width: 32rem;
  padding: 3.2rem 2rem 3.2rem 2rem;
  margin: 0 1rem;
  font-size: var(--fs-500);
}

.container > h1 {
  text-transform: uppercase;
  font-size: var(--fs-400);
  letter-spacing: 0.25rem;
  color: var(--neon-green);
  text-align: center;
}

.container > p {
  text-align: center;
  font-weight: var(--fw-extrabold);
  margin: 1.65rem 0 1.35rem 0;
}

.line {
  display: flex;
  align-items: center;
  margin-bottom: 1.1rem;
}

.btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neon-green);
  background-position: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 50%;
  bottom: -1em;
  transition: all ease-in-out 0.3s;
}

.btn:hover {
  box-shadow: -1px 1px 25px 12px hsl(var(--hsl-neon-green), 0.5);
  -webkit-box-shadow: -1px 1px 25px 12px hsl(var(--hsl-neon-green), 0.5);
  -moz-box-shadow: -1px 1px 25px 12px hsl(var(--hsl-neon-green), 0.5);
  transition: all ease-in-out 0.3s;
}
