:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);

  --fw-medium: 500;
  --fw-bold: 700;

  --fs-200: 0.7rem;
  --fs-300: 0.813rem;
  --fs-400: 1rem;
  --fs-500: 1.3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: var(--white);
  border-radius: 15px;
  max-width: 730px;
  display: grid;
  grid-template-columns: 40% 1fr;
}

.card-img {
  background-image: url(images/drawers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 0 0 15px;
}

.card-content {
  padding: 30px 30px 30px 30px;
}

.card-content > h1 {
  font-size: var(--fs-500);
  color: var(--very-dark-grayish-blue);
  font-weight: var(--fw-bold);
  line-height: 1.5;
  margin-bottom: 0.7rem;
}

.card-content > p {
  color: var(--desaturated-dark-blue);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.hero-info > h2 {
  font-size: var(--fs-300);
  color: var(--very-dark-grayish-blue);
  font-weight: var(--fw-bold);
}

.hero-info > p {
  font-size: var(--fs-300);
  color: var(--desaturated-dark-blue);
  font-weight: var(--fw-medium);
}

.social-media {
  position: relative;
}

.sharebtn {
  cursor: pointer;
  background-color: var(--light-grayish-blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sharebtn .icon-share {
  transition: all 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.sharebtn:hover,
.sharebtn.active {
  background-color: var(--desaturated-dark-blue);
}

.sharebtn:hover .icon-share,
.sharebtn.active .icon-share {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

.popup {
  position: absolute;
  background-color: var(--very-dark-grayish-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 220px;
  padding: 10px 5px;
  border-radius: 0.5rem;
  top: -4rem;
  left: -5.6rem;
  cursor: auto;
  opacity: 0;
  transform: translateX(0%) translateY(50px) scale(0);
  -webkit-transform: translateX(0%) translateY(50px) scale(0);
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
}

.popup.active {
  opacity: 1;
  transform: translateX(0%) translateY(0px) scale(1);
  -webkit-transform: translateX(0%) translateY(0px) scale(1);
}

.popup > p {
  color: var(--grayish-blue);
  letter-spacing: 0.3rem;
  font-size: var(--fs-200);
  text-transform: uppercase;
}

.popup::after {
  content: "";
  position: absolute;
  background-color: var(--very-dark-grayish-blue);
  height: 1rem;
  width: 2rem;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
  transform: translate(0px, 26px);
  -webkit-transform: translate(0px, 26px);
}

@media screen and (max-width: 715px) {
  main {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
  }

  .card-img {
    border-radius: 15px 15px 0 0;
  }

  .card-content > p {
    font-size: var(--fs-400);
    margin-bottom: 2rem;
  }

  .sharebtn {
    z-index: 2;
    position: relative;
  }

  .popup {
    width: 400px;
    padding: 30px 40px 35px 40px;
    border-radius: 0 0 15px 15px;
    justify-content: flex-start;
    gap: 25px;
    bottom: -2rem;
    left: -20.6rem;
    top: auto;
    z-index: -1;
  }

  .popup::after {
    display: none;
  }

  .popup.active {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
    z-index: 1;
  }

  .popup > p {
    font-size: var(--fs-400);
  }

  .popup > a > img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 415px) {
  main {
    width: 290px;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }

  .popup {
    width: 290px;
    padding: 40px 30px 40px 30px;
    gap: 10px;
    bottom: -2.5rem;
    left: -13.7rem;
  }

  .popup > p {
    font-size: var(--fs-300);
  }

  .popup > a > img {
    width: 22px;
    height: 22px;
  }
}
